{% extends 'base.html.twig' %}

{% block title %}Zaloguj się{% endblock %}

{% block body %}
<div style = 'margin-left: 20em;'>
<form method="post" style = 'width:400px;'>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<div style = 'text-align: center; align-items: center; width: 400px'>
    <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus style = 'width: 400px; text-align:center;'>
    <label for="inputPassword">Hasło</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required style = 'width: 400px; text-align:center'>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br/>

    <button class="btn btn-lg btn-success" type="submit">
        Zaloguj się
    </button>
    </div>
</form>
</div>
{% endblock %}
