<form method="post" action="{{ path('apteczka_delete', {'id': apteczka.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć apteczkę?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apteczka.id) }}">
    <button class="btn btn-danger">Usuń bieżącą apteczkę</button>
</form>
