{% extends 'base.html.twig' %}

{% block title %}Apteczka - Edytuj{% endblock %}

{% block body %}
    <h1>Edytuj Apteczkę</h1>

    {{ include('apteczka/_form.html.twig', {'button_label': 'Zapisz'}) }}

    <br><a class='btn btn-info' href="{{ path('apteczka_index') }}">Powrót do listy</a><br>
    <br>
    {{ include('apteczka/_delete_form.html.twig') }}
{% endblock %}
