{% extends 'base.html.twig' %}

{% block title %}Apteczka - Tworzenie{% endblock %}

{% block body %}
<div style = 'text-align: center'>
    <h1>Stwórz nową apteczkę</h1>

    {{ include('apteczka/_form.html.twig') }}

    <a class='btn btn-secondary' href="{{ path('apteczka_index') }}">Wróć do listy</a>
</div>
{% endblock %}
